// Base styles
@import './variables';
@import './mixins';

// Widgets
@import './widgets/search-form';
@import './widgets/booking-form';
@import './widgets/calendar';
@import './widgets/error-styles';


// test